@import "reset.css";

.wrapper {
	height: 100vh;
	background-color: #e3e3e3;
	display: flex;
	justify-content: center;
}
.content {
	padding-top: 50px;
	width: 320px;
}
h1 {
	font-size: 50px;
	text-align: center;
	margin: 20px 0;
}
form {
	display: flex;
	flex-direction: column;
}
form div {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}
form button {
	margin-top: 5px;
}

.pass p{
	margin-top: 5px;
	width: 320px;
}