<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>PassGenerator</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="wrapper">
	<div class="content">
		<h1>Pass Generator</h1>
		<div th:if="${errors != null && errors.size() > 0}">
			<ul>
				<li th:each="error: ${errors}">
					<div th:text="${error}"></div>
				</li>
			</ul>
		</div>
		<form th:action="@{/}" th:object="${passwordConfigForm}" method="POST">
			<div>
				<label for="length">Length:</label>
				<input type="number" th:field="*{length}" id="length" min="1" max="35" />
			</div>
			<div>
				<input type="checkbox" name="hasUpperChars"
					   id="useUpper" th:checked="*{hasUpperChars()}"/>
				<label for="useUpper">Use upper case chars</label>
			</div>
			<div>
				<input type="checkbox" name="hasLowerChars" id="useLower"
					   th:checked="*{hasLowerChars()}"/>
				<label for="useLower">Use lower case chars</label>
			</div>
			<div>
				<input type="checkbox" name="hasNumerals" id="useNumerals"
					   th:checked="*{hasNumerals()}"/>
				<label for="useNumerals">Use numerals</label>
			</div>
			<div>
				<input type="checkbox" name="hasSymbols" id="useSymbols"
					   th:checked="*{hasSymbols()}"/>
				<label for="useSymbols">Use symbols</label>
			</div>
			<button type="submit">Generate
			</button>
		</form>
		<div th:if="${password}">
			<p>Password: </p>
			<p th:utext="${password}"></p>
		</div>
	</div>
</div>
</body>
</html>