<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>PassGenerator</title>
</head>
<body>
<div class="wrapper">
	<div class="content">
		<h1>Pass Generator</h1>
		<form th:object="${inputConfiguration}" method="POST">
			<label for="length">Length:</label>
			<input type="number" id="length" name="length" value=12 />
			<label for="useUpper">Use upper case chars</label>
			<input type="checkbox" id="useUpper" name="useUpper" checked/>
			<label for="useLower">Use lower case chars</label>
			<input type="checkbox" id="useLower" name="useLower" checked/>
			<label for="useNums">Use nums</label>
			<input type="checkbox" id="useNums" name="useNums" checked/>
			<label for="useSymbols">Use symbols</label>
			<input type="checkbox" id="useSymbols" name="useSymbols" />
			<button>Generate</button>
		</form>
		<div th:if="${pass}">
			<p>Password: </p>
			<p th:utext="${pass}"></p>
		</div>
	</div>
</div>
</body>
</html>